- let i = 0;
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./pdf.styles.css")
    title PDF
    style.
      p{
        margin:0;
        padding:0;
        margin-left: 15px;
        color: #242424;
      }
      h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 60px;
        margin-top: 0px;
      }
      th {
        background-color: #0000a0;
        color: white;
        padding: 10px;
        justify-content: space-between;
      }
      td {
        margin-top: 10px;
        border: 1px solid #333;
        margin-top: 5px;
      }
      table {
        width: 100%;
        text-align: center;
      }
      .email {
        margin-left: 33px;
        margin-bottom: 5px;
      }
      .direction {
        margin-left: 8px;
        margin-bottom: 10px;
      }
      .email_content, .direction_content {
        display: flex;
      }
      .titleDirection, .titleEmial {
        font-weight: bold;
      }
  body
    each build of empresa
      div
        h1= build.name
        div
          .email_content
            p.titleEmial Email:
            p.email= build.email
          .direction_content
            p.titleDirection Direction:
            p.direction= build.direction
    table
      tr
        th No.
        th Nombre Empleado
        th Puesto Empleado
        th Departamento Empleado
      each empleado  of empleados
        tr.datos
          td= (i=i + 1)
          td= empleado.name
          td= empleado.stall
          td= empleado.department